@import "tailwindcss";

@theme inline {
  --color-dark: #2B2B2B;
  --color-muted: #444444;
  --color-light-bg: #F3F3F2;
  --color-card-bg: #F8F8F8;
  --color-border: #E7E7E7;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background: #ffffff;
}
